
# Ignore environment files
.env

# Ignore compiled Go binaries
*.exe
*.dll
*.so
*.dylib
*.out

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore Go cache and build files
bin/
pkg/
*.log
\tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# binary 
go-firebird

firebird-3fc8c-firebase-adminsdk-fbsvc-3e5faf385c.json
firebird-firebase.json
